.__Table__{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 -1px 8px 3px rgba(0,0,0,0.1);
    .controller{
        padding: 15px;
        border-bottom: 1px solid #eee;
        .row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            &:first-child{
                /* margin-bottom: 15px; */
            }
            .col{
                display: flex;
                flex-direction: row;
                column-gap: 10px;
                color: #444;
                .input-group-inline{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    label{
                        font-size: 14px;
                        margin-right: 10px;
                        color: #555;
                        /* @media (max-width: 900px) {
                            display: none;
                        } */
                    }
                    .search{
                        padding: 5px 10px;
                        min-width: 110px;
                    }
                }
                
                .filter_button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 10px;
                    background-color: transparent;
                    border: 1px solid #bbb;
                    border-radius: 5px;
                    padding: 0 10px;
                    cursor: pointer;
                    color: #555;
                }
            }
            .titre{
                //line-height: 3;
                font-weight: 500;
                color: #555;
                @media (max-width: 900px) {
                    font-size: 18px;
                }
            }
        }
    }
    .table_wrapper{
        width: 100%;
        overflow-x: auto;
        
        table{
            width: 100%;
            min-width: 760px;
            font-size: 14px;
            font-weight: 400;
            color: #555;
            text-align: left;
            border-spacing: 0;
            border-collapse: collapse;
            thead{
                tr{
                    background-color: rgba(187, 187, 187, 0.178);
                    line-height: 3;
                    border-bottom: 1px solid #ddd;
                    th{
                        color: #777;
                        font-weight: 500;
                        &:first-child{
                            padding-left: 15px;
                        }
                        &:last-child{
                            padding-left: 15px;
                        }
                    }
                }
            }
            tbody{
                tr{
                    line-height: 2.5;
                    cursor: pointer;
                    &:hover{
                        //background-color: rgba(206, 206, 206, 0.5) !important;
                        background-color: #e3e9ff !important;
                    }
                    border-bottom: 1px solid #ddd;
                    
                    &:nth-child(even){
                        background-color: rgba(206, 206, 206, 0.08);
                    }
                    td{
                        &:first-child{
                            padding-left: 15px;
                        }
                        &:last-child{
                            padding-left: 15px;
                        }
                    }
                }
            }
        }
        .table_related_info{
            //border-top: 1px solid #ddd;
            padding: 0 15px;
            .filtred_data{
                font-size: 13px;
                font-weight: 500;
                line-height: 4;
                color: #555;
                font-weight: 400;
            }
        }
    }
}